---
title: Home
date: null
layout: null
permalink: null
categories: null
tags: null
---

<!doctype html>
<html lang="tr">
{% include head.html %}
<body>
{% include loading-screen.html %}
{% include header.html %}
<style>
    main {
        padding: 0 .5em;
    }

    section.articles {
        margin-top: 3em;
    }

    article {
        padding: .75em 0;
    }

    div.article-categories {
        margin-top: 1.5em;
    }

    div.pagination {
        margin-top: 1.5em;
    }
</style>
<main>
    {% include author-bio.html %}
    {% include author-links.html %}

    {% if paginator and paginator.posts %}
    <section class="articles">
        <h1 class="compact">Son blog yazıları:</h1>
        <hr/>
        {% for post in paginator.posts %}
        <article>
            {% if post.title %}
            <a href="{{ site.baseurl }}{{ post.url }}">
                <h2 class="article-title compact">{{ post.title }}</h2>
            </a>
            {% endif %}
            {% if post.date %}
            <br/>
            <time>{{ post.date | date: "%e %B %Y %A" | replace: "January", "Ocak" | replace: "February", "Şubat" |
                replace: "March", "Mart" | replace: "April", "Nisan" | replace: "May", "Mayıs" | replace: "June",
                "Haziran" | replace: "July", "Temmuz" | replace: "August", "Ağustos" | replace: "September", "Eylül" |
                replace: "October", "Ekim" | replace: "November", "Kasım" | replace: "December", "Aralık" | replace:
                "Sunday", "Pazar" | replace: "Monday", "Pazartesi" | replace: "Tuesday", "Salı" | replace: "Wednesday",
                "Çarşamba" | replace: "Thursday", "Perşembe" | replace: "Friday", "Cuma" | replace: "Saturday",
                "Cumartesi" }}
            </time>
            {% endif %}
            {% if post.categories %}
            <div class="article-categories">
                {% for category in post.categories %}
                <a href="#">[{{ category }}]</a>
                {% endfor %}
            </div>
            {% endif %}
        </article>
        <hr/>
        {% endfor %}
        {% if paginator.total_pages > 1 %}
        <!-- pagination -->
        <div class="pagination">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | relative_url }}">&laquo;</a>
            {% else %}
            <span>&laquo;</span>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
            <em>{{ page }}</em>
            {% elsif page == 1 %}
            <a href="{{ '/' | relative_url }}">[{{ page }}]</a>
            {% else %}
            <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">[{{ page }}]</a>
            {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | relative_url }}">&raquo;</a>
            {% else %}
            <span>&raquo;</span>
            {% endif %}
        </div>
        <!-- /pagination -->
        {% endif %}
    </section>
    {% elsif site and site.posts %}
    <section class="articles">
        <hr/>
        {% for post in site.posts %}
        <article>
            {% if post.title %}
            <a href="{{ site.baseurl }}{{ post.url }}">
                <h2 class="article-title compact">{{ post.title }}</h2>
            </a>
            {% endif %}
            {% if post.date %}
            <br/>
            <time>{{ post.date | date: "%e %B %Y %A" }}</time>
            {% endif %}
            {% if post.categories %}
            <div class="article-categories">
                {% for category in post.categories %}
                <a href="#">[{{ category }}]</a>
                {% endfor %}
            </div>
            {% endif %}
        </article>
        <hr/>
        {% endfor %}
    </section>
    {% else %}
    <section>
        No blog...
    </section>
    {% endif %}
</main>
{% include footer.html %}
{% include screen-interlacing.html %}
{% include screen-glare.html %}
{% include back-to-top.html %}
{% include vector-cluster-distribution.html %}
</body>
</html>
