<section class="author-bio">
    <!-- <section class="author-avatar">
        <img src="{{site.data.author.dp}}" alt="{{site.data.author.name}}" />
    </section> -->
    <span id="author-title" class="vector vector-author-bio">Expert Software Engineer & Software Architect</span><span id="author-title-end" class="vector vector-author-bio"><br /></span><span id="description-before" class="vector vector-author-bio">Kendisine </span><a id="description-link" class="vector vector-author-bio" href="{{ site.data.author.url }}">[LinkedIn]</a><span id="description-after" class="vector vector-author-bio"> üzerinden ulaşabilirsiniz.</span><span id="description-end" class="vector vector-author-bio"><br /><br /></span>

    <span id="author-bio-blinking-cursor" class="blinking-cursor" style="display: none;">█</span>
</section>

<script>
    vectorCluster["author-bio"] = doVacuuming("vector-author-bio");
</script>