<style>
    html, body {
        scroll-behavior: smooth;
    }

    body {
        display: grid;
    }

    .back-to-top {
        --offset: 12rem;

        position: sticky;
        bottom: 1.5rem;
        place-self: end;
        margin-top: calc(100vh + var(--offset));
        margin-right: 1rem;
        margin-bottom: unset;
        margin-left: unset;

        /* visual styling */
        text-decoration: none;
        padding: 1.5rem 2rem 1.5rem 2rem;
        border-width: 2px;
        border-style: solid;
        border-color: var(--foreground);
        white-space: nowrap;
    }
</style>
<a href="#" class="back-to-top">^</a>