<section class="author">
  <section class="author-avatar">
    <img src="{{site.data.author.dp}}" alt="{{site.data.author.name}}" />
  </section>
  <section class="author-info">
    <div class="author-description">{{site.data.author.description}}</div>
    <div class="author-contact">
      {% for i in site.data.author.contact %}
      <a href="{{i.url}}" class="icon icon-{{i.title}} dabbah" style="color: {{i.color}};{% unless i.bgcolor == "" %} background-color: {{i.bgcolor}};{% endunless %}" target="_blank"></a>
      {%endfor%}
    </div>
  </section>
</section>
