<div class="form-group mt-5 mb-5">
    <label for="calculation-menu">Ne hesaplamak, ne dönüştürmek veya ne üretmek istiyorsun?</label>
    <input id="calculation-menu" type="text" class="form-control" placeholder="Hesapla" list="calculation-list" autocomplete="on" />
    <datalist id="calculation-list">
        <option data-href="/online-generate-random-string.html" value="Rasgele Sicim Üret">Rasgele Sicim Üret (Generate Random String)</option>
        <option data-href="/online-encode-decode-base64.html" value="Online Encode & Decode base64">Online Encode & Decode base64</option>
        <option data-href="/online-generate-uuid.html" value="Online UUID Üret">Online UUID Üret (Online Generate UUID)</option>
    </datalist>
</div>

<script>
    $(function() {
        $("#calculation-menu").on("change", function (event) {
            let href = $("#" + event.target.list.id + " option[value='" + event.target.value + "']").data("href");
            if (href === undefined) {
                return;
            }
            window.location = href;
        });
    });
</script>
