<style>
    *, *:before, *:after {
        box-sizing: inherit;
        font-family: inherit;
        font-size: inherit;
        text-decoration: none;
        margin: 0;
        padding: 0;
        -moz-window-dragging: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: transparent;
    }

    :root {
        --foreground: hsl(133 84% 70%);
        --background: hsl(154 50% 5%);
        --highlighted: hsl(154 100% 80%);
        --shadow: hsl(154 84% 70%);
    }

    html {
        font-family: monospace;
        font-size: 12pt;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
        -moz-font-size-adjust: none;
        -webkit-font-size-adjust: none;
        font-size-adjust: none;
    }

    @media screen and (min-width: 450px) {
        html {
            font-size: 16px;
        }
    }

    @media screen and (min-width: 420px) and (max-width: 449px) {
        html {
            font-size: 15px;
        }
    }

    @media screen and (min-width: 390px) and (max-width: 419px) {
        html {
            font-size: 14px;
        }
    }

    @media screen and (min-width: 360px) and (max-width: 389px) {
        html {
            font-size: 13px;
        }
    }

    @media screen and (min-width: 320px) and (max-width: 359px) {
        html {
            font-size: 12px;
        }
    }

    @media screen and (min-width: 280px) and (max-width: 319px) {
        html {
            font-size: 11px;
        }
    }

    @media screen and (max-width: 279px) {
        html {
            font-size: 10px;
        }
    }

    body {
        display: grid;
        background: var(--background);
        color: var(--foreground);
        text-shadow: 0 0 4px var(--shadow);
        font-family: inherit;
        font-size: 1rem;
        line-height: 1.5em;
        cursor: default;
    }

    * img {
        max-width: 100%;
    }

    a {
        color: var(--foreground);
        font-family: inherit;
        font-size: 1rem;
        text-decoration: none;
        cursor: pointer;
    }

    em {
        font-family: inherit;
        font-size: 1rem;
        font-style: normal;
        font-weight: normal;
        color: var(--highlighted);
        text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6 {
        display: inline;
        font-family: inherit;
        font-size: 1rem;
        font-style: normal;
        font-weight: normal;
        line-height: 1.5em;
        color: var(--highlighted);
        text-decoration: none;
        vertical-align: -100%;
    }

    h1.compact, h2.compact, h3.compact, h4.compact, h5.compact, h6.compact {
        vertical-align: unset;
    }

    hr {
        border-color: var(--foreground);
        border-style: solid;
        border-width: 1px;
        margin: .72rem 0;
        padding: 0;
    }

    hr.double {
        border-style: solid;
        border-width: 2px;
    }

    .matrix {
        display: inline-block;
        white-space: pre;
        font-family: inherit;
        line-height: 1rem;
    }

    .vector {
        display: inline;
        font-family: inherit;
    }

    a.vector {
        white-space: nowrap;
    }

    span.rs {
        padding-right: 1rem;
    }

    @keyframes blink {
        0% {
            opacity: 0
        }
        33% {
            opacity: 1
        }
        66% {
            opacity: 1
        }
        100% {
            opacity: 0
        }
    }

    span.blinking-cursor {
        animation: blink 0.4s steps(2, jump-none) infinite;
        cursor: none;
    }

    article img {
        mix-blend-mode: screen;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 1;
    }
</style>