<style>
    header {
        margin-bottom: 2rem;
        padding: 0 .5rem;
    }
</style>
<header title="{{site.title}}">
    <a href="{{site.baseurl}}/">
    <span class="matrix rs">
 ▇  ▇     ▇      ▇   ▇      ▇
▇ ▇ ▇▇▇ ▇▇▇ ▇ ▇  ▇   ▇   ▇▇ ▇▇▇
▇▇▇ ▇ ▇ ▇ ▇ ▇ ▇  ▇   ▇  ▇ ▇ ▇ ▇
▇ ▇ ▇▇▇ ▇▇▇ ▇▇▇  ▇▇  ▇▇ ▇▇▇ ▇ ▇
▇ ▇
    </span>
        <span class="matrix">
▇▇                  ▇
▇ ▇  ▇▇ ▇▇   ▇▇ ▇▇▇ ▇▇▇  ▇▇   ▇▇ ▇
▇▇  ▇ ▇  ▇  ▇ ▇ ▇   ▇ ▇ ▇ ▇   ▇  ▇
▇   ▇▇▇  ▇▇ ▇▇▇ ▇   ▇▇▇ ▇▇▇ ▇▇▇  ▇▇
▇                            ▇
    </span>
    </a>
</header>