<head>
    {% include meta.html %}
    <title>{{site.title}} | {{page.title}}</title>
    {% include css.html %}
    {% include js.html %}
    {% if page.layout == "post" %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/highlighter-rouge.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css"/>
    {% elsif page.layout == "page" %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/highlighter-rouge.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css"/>
    {% else %}
    <!-- no syntax -->
    {% endif %}
    {% include gtag.html %}
</head>