header {
  padding: 2rem 0 4rem 0;
}
header .site-title {
  font-size: 4rem;
  font-weight: bolder;
  line-height: 110%;
  color: var(--light);
}
main {
  margin: 0 auto;
  max-width: 650px;
  padding: 3rem 0;
}

/* header */

#bio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#img-wrapper img {
  border-radius: 50%;
  max-width: 100px;
}
#bio-wrapper {
  margin-left: 1rem;
}
#text-wrapper {
  line-height: 1.2rem;
  font-weight: 300;
}
#text-wrapper a {
  color: var(--link);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--link);
}

/* article section */

.articles {
  display: grid;
  row-gap: 2rem;
  margin: 4rem 0 3rem 0;
}
.articles .article {
  padding: 2rem;
  background-color: var(--dark);
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
.articles .article .article-title,
.articles .article .article-title a {
  color: var(--fore);
  font-weight: 100;
  font-style: italic;
  font-size: 1.4rem;
  line-height: 130%;
}
.articles .article:hover {
  transform: scale(1.05);
}
.articles .article .date {
  display: block;
  font-size: 0.8rem;
}
.articles .article .categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.articles .article .categories .category {
  margin: 0 0.5rem 0.3rem 0;
  display: block;
  color: var(--buttontext);
  background: var(--button);
  border-radius: 15px;
  font-size: 0.7rem;
  padding: 0 0.8rem;
  line-height: 1.3rem;
  cursor: pointer;
}
/* media query */

@media screen and (max-width: 750px) {
  body {
    padding: 1.5rem;
  }
  header .site-title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 550px) {
  header .site-title {
    font-size: 3rem;
  }
  .articles {
    row-gap: 1.2rem;
  }
}

@media screen and (max-width: 350px) {
  #img-wrapper img {
    max-width: 50px;
  }
  #bio {
    align-items: flex-start;
  }
  main,
  .articles {
    padding: 0;
    margin: 0;
  }
  main {
    padding-bottom: 1rem;
  }
  .articles {
    margin: 2rem 0 3rem 0;
    row-gap: 1.2rem;
  }
  header .site-title {
    font-size: 2.4rem;
  }
  .article {
    padding: 1.2rem;
  }
  .articles .article .article-title,
  .articles .article .article-title a {
    font-size: 1rem;
  }
}
