main {
    margin: 0 auto;
    padding: 1rem 1rem 0 1rem;
    max-width: 800px;
}

.tooltip-success .tooltip-inner {
    background-color: #28a745;
}

.tooltip-success.bs-tooltip-top .arrow::before {
    border-top-color: #28a745;
}
