@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;0,400;0,800;1,100;1,300;1,400;1,800&display=swap");

:root {
  --space: #1f1c19;
  --button: #aca7a2;
  --buttontext: #2a2520;
  --frame: #aca7a2;
  --line: #aca7a2;
  --fore: #aca7a2;
  --back: #2c2722;
  --light: #efeae5;
  --dark: #2a2520;
  --link: #ffff00;
}

* {
  font-family: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
  -webkit-tap-highlight-color: transparent;
}
* img {
  max-width: 100%;
}
html,
body {
  color: var(--fore);
  background-color: var(--space);
  font-family: "JetBrains Mono", monospace;
  line-height: 2rem;
}

footer p {
  font-size: 0.8rem;
}

/* category modal */

#category-modal-bg {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none;
  visibility: hidden;
}

#category-modal {
  position: fixed;
  inset: 0;
  z-index: 100;
  max-width: 850px;
  max-height: 60vh;
  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
  background-color: var(--dark);
  display: none;
  visibility: hidden;
  line-height: 140%;
}

#category-modal-content {
  position: relative;
  max-height: calc(100% - 5rem);
  overflow: auto;
}

#category-modal-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  padding: 1rem;
}

#category-modal-bg.open,
#category-modal.open {
  display: block;
  visibility: visible;
}

.modal-article,
.modal-article-date {
  display: block;
  color: var(--fore);
}

.modal-article {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

.modal-article-date {
  font-size: 0.8rem;
}

.modal-article:hover {
  background: var(--space);
}

hr {
  border-top: 2px dashed var(--line) !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  margin-bottom: 1.75rem !important;
}

/* pagination section */

.pagination {
  cursor: default;
}

.pagination a {
  color: var(--link);
  border-bottom: none;
}

.pagination span {
}

.pagination em {
  color: var(--light);
  font-weight: bold;
}
