<!doctype html>
<html lang="tr">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
      <section class="article">
        <div class="article-header">
          {% if page.title %}
          <h2 class="article-title">{{page.title}}</h2>
          {% endif %}
          {% if page.date %}
          <small class="date">{{ page.date | date: "%e %B %Y %A" | replace: "January", "Ocak" | replace: "February", "Şubat" | replace: "March", "Mart" | replace: "April", "Nisan" | replace: "May", "Mayıs" | replace: "June", "Haziran" | replace: "July", "Temmuz" | replace: "August", "Ağustos" | replace: "September", "Eylül" | replace: "October", "Ekim" | replace: "November", "Kasım" | replace: "December", "Aralık" | replace: "Sunday", "Pazar" | replace: "Monday", "Pazartesi" | replace: "Tuesday", "Salı" | replace: "Wednesday", "Çarşamba" | replace: "Thursday", "Perşembe" | replace: "Friday", "Cuma" | replace: "Saturday", "Cumartesi" }}</small>
          {% endif %}
        </div>
        <div class="content">{{content}}</div>
      </section>
      {% include footer.html %}
    </main>
    <a href="#" class="backtotop">&#8593;</a>
  </body>
</html>
